body {
    max-width: 680px;
    margin-left: 10%;
    margin-top: 40px;
    margin-right: 10%;
    margin-bottom: 40px;
    font-family: helvetica, courier,  sans-serif;
}


blockquote {
    margin:0;
}
blockquote p {
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    background-color: #eeeeee;
    color: black;
    border-radius: 15px; 
}


.maintitle {
    font-family: courier, sans-serif;
    font-size: 16pt;
    margin-bottom:0;
}
.subtitle {
    margin-top: 0pt;
    padding-top: 0pt;

    font-size: 12pt;
}



.ulink {

 font-size: 11pt;
    color: black;
}

.ulink a:link {
    text-decoration: none;
   color:black;
}
.ulink a:hover { 
    text-decoration: underline;
  color:black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}
a:hover { 
    text-decoration: underline;
    color: black;
}
.nav a:link {
    text-decoration: underline;
}
.nav a:hover{
    text-decoration: none;
}
p {
    text-align: justify;
    text-justify: auto;
}
p.s-quote {
    text-align: center;
}
li {
    text-align: justify;
    text-justify: auto;
}
hr {
    border-top: 1px solid gray;
    border-bottom: none;
}
table {
    border-collapse: collapse;
    border: none;
}
.indextable {
  width:100%;
  margin: 0pt;
  padding: 0pt;
}
th, td {
    vertical-align:top;
}
.label1{
  font-style: italic;
  font-size: small;
  color: orange;
}

